footer .cr{
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 20px;
	background-color: #212121;
	float:left;
	font-size: 12px;
}
footer .cr a{
	color: #fac200;
}
.6-color-o{
	color: #7d0996 !important
}
.6-color-m{
	color: #cf0063 !important
}
.6-color-e{
	color: #df2823 !important
}
.6-color-a{
	color: #f76a04 !important
}
.6-color-n{
	color: #fac200 !important
}
.6-color-s{
	color: #fedd27 !important
}